@font-face 
        {
            font-family: spaceman;
            src: url('fonts/conthrax-sb.ttf');
        }

@font-face 
        {
            font-family: audimat;
            src: url('fonts/AUdimat-Regular.otf');
        }

.overlay
{
  position:fixed;
  background-repeat:repeat;
  overflow:auto;  
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -o-transition: all .5s linear;
   transition: all .5s linear;
  top:0;
  left:0;
  width:2000%;
 height:2000%;
 z-index:-1; 
}

.message
{
    background-image:none;
   border:none; 
    font-family: spaceman;
    font-size:x-large;
    text-align:center;
    align-content:center;
    color:#D8D8F6;
    padding:10px;
    position: fixed;
    margin-left: 34%;
    margin-right: 34%;
    margin-top: 15%;
    margin-bottom: auto;
    width: 32%;
    height: auto;
    z-index: 100;

}

.title
{
    background-image: url(images/transparencyBar.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: spaceman;
    font-size:xx-large;
    text-align:center;
    align-content:center;
    color:#D8D8F6;
    padding:10px;
    position: fixed;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
}

.ship
{   
    position:relative;    
    left:0%;
   -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -o-transition: all .5s linear;
   transition: all .5s linear;
   z-index: 5;
   margin-top: 3%;
   overflow: hidden;
}

.shipImg
{
 
}

.goLight
{
    text-align:center;
    position:fixed;
    float:right;
    top: 3%;
   right: 3%;
    z-index: 100;
}

a
{
    display:inline-block;
    background-image: url(srimages/RedLight.png);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
}

a:hover{

    text-decoration:none;
    cursor: pointer;
}

body, html
{    
    overflow: hidden;
}




