        a:link
        {
            color: #E6EFE9;
        }
        a:visited
        {
            color:#E6EFE9;
        }
        a:hover
        {
            color:#EF959D;
        }
        a:active
        {
            color:#E6EFE9;
        }
       
         a 
        {
            padding-left: 15px;
            padding-right: 15px;
            color: #E6EFE9;
            font-size: large;
            font-family: Verdana, Helvetica, sans-serif;
        }
        @font-face 
        {
            font-family: spaceman;
            src: url(fonts/SPACEMAN.ttf);
        }

        p{           
            color: #E6EFE9;
            font-family: Verdana, Helvetica, sans-serif;
        }
       
        body.main 
        {
            background-image: url(images/indexbackground.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        
         body.secondary 
        {
            background-image: url(images/indexbackground2b.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }  
        
         input.button1
        {  
           -webkit-transition-duration: 0.4s; 
           font-size:larger;
           background-color: #9CAFB7;
           color: white;
           border-radius: 8px;
           border-style:solid;
           border-color:#9CAFB7;          
           padding: 5px 7px;    
           text-align:center;
        }
         
        input.button2
        {
           -webkit-transition-duration: 0.4s; 
           font-size:larger;
           background-color: #EF959D;
           color: white;
           border-radius: 8px;
           border-style:solid;
           border-color:#EF959D;
           padding: 5px 15px;
           text-align:center;
        }
        
        label
        {
            font-family: Verdana, Helvetica, sans-serif;
        }
        
        input.button1:hover
        {
            background-color:white;
            color:#9CAFB7;
            border-style:solid;
            border-color:#9CAFB7;
        }
        input.button2:hover
        {
           background-color:white;
           color:#EF959D;
           border-style:solid;
           border-color:#EF959D;           
        }
       input
       {
           margin-left: auto;
           margin-right: auto;
           border-color: #EF959D;
           border-bottom-style: solid;
           border-width: medium;
           font-family: Verdana, Helvetica, sans-serif;       
        }
        input.radial
        {
           margin-left: 5px;
           margin-right: 15px; 
        }
        
        select
       {
           margin-left: 5px;
           margin-right: 5px;
           font-family: Verdana, Helvetica, sans-serif;
           border-color: #EF959D;
           border-bottom-style: solid;
           border-width: medium;
       }

       textarea
       {
           margin-left:auto;
           margin-right:auto;
           width: 90%;
           border-color: #EF959D;
           border-bottom-style: solid;
           border-width: medium;
           font-family: Verdana, Helvetica, sans-serif; 
       }      
      
        form 
        {
            background-image: url(images/transparency.png);
            background-repeat: no-repeat;
            background-size: cover;
            margin-left: auto;
            margin-right: auto;
            margin-top: 25px;
            width: 800px;
            padding-left: 5px;
            padding-right: 5px;
            border: 2px solid;
            border-color: #9CAFB7;
            border-width:medium;
            border-radius: 12px;
            color: white;
            text-align: center;
            font-family: Verdana, Helvetica, sans-serif;
        }      

        h1 
        {
            margin-top: 30px;
            color: white;
            font-family: spaceman;
        }

        h2 
        {
            margin-top: 15px;
            margin-bottom: 15px;
            color: #E6EFE9;
            font-family: Verdana, Helvetica, sans-serif;
        }

        h3.second
        {
            margin-top: 10px;
            margin-bottom: 10px;
            color: #EF959D;
            font-size: large;
            font-family: Verdana, Helvetica, sans-serif;
        }

         h3.first 
        {
            margin-top: 10px;
            margin-bottom: 10px;
            color: white;
            font-size: large;
            font-family: Verdana, Helvetica, sans-serif;
        }

        td
        {
             border: 4px solid;
             border-bottom: none;
             border-color: #9CAFB7;
        }

         th
         {
             border: 4px solid;
             border-top: none;
             border-bottom: none;
             border-color: #9CAFB7;
        }

         img.title
         {
            
         }

          img.picture
         {
             border: 3px solid;
             border-color: #69585F;
         }

        table 
        {
            background-image: url(images/transparency.png);
            background-repeat: no-repeat;
            background-size: cover;
            margin-left: auto;
            margin-right: auto;
            width: 1024px;
            padding-left: 15px;
            padding-right: 15px;
            border: 4px solid;
            border-color: #9CAFB7;
            border-radius: 12px;
            color: white;
            text-align: center;
            font-family: Verdana, Helvetica, sans-serif;
        }