  a:visited,  a:active
        {           
             background-color: #8DA1B9;
              color: #D8D8F6;   
        }
        
         a:hover, a:link
        {           
            background-color: #7AE7C7;
             color: #8DA1B9;          
        }             
        
        a 
        {
            margin-top: 5%;
            padding-left: 7px;
            padding-right: 7px;
            color: #D8D8F6;
            background-color: #8DA1B9;
            border: solid 2px #7AE7C7;
            border-radius: 4px;
            font-size: large;
            font-family: Verdana, Helvetica, sans-serif;
            text-decoration:none;
        }

        .backgroundColor1
        {
            background-color: #D8D8F6;
        }
        .backgroundColor2
        {
            background-color: #8DA1B9;
        }
        .textAlignCenter
        {
            text-align:center;
        }