        a:link
        {
            color:lightblue;
        }
        a:visited
        {
            color:lightgray;
        }
        a:hover
        {
            color:lightsalmon;
        }
        a:active
        {
            color:orange;
        }
       
        @font-face 
        {
            font-family: spaceman;
            src: url(fonts/SPACEMAN.ttf);
        }
       
        body 
        {
            background-image: url(images/indexbackground.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }       

        a 
        {
            padding-left: 15px;
            padding-right: 15px;
            color: lightsalmon;
            font-size: large;
            font-family: Verdana, Helvetica, sans-serif;
        }

        h1 
        {
            margin-top: 30px;
            color: white;
            font-family: spaceman;
        }

        h2 
        {
            margin-top: 15px;
            margin-bottom: 15px;
            color: #ABE188;
            font-family: Verdana, Helvetica, sans-serif;
        }

        h3 
        {
            margin-top: 10px;
            margin-bottom: 10px;
            color: #F7EF99;
            font-size: large;
            font-family: Verdana, Helvetica, sans-serif;
        }

        td
        {
             border: 4px ridge;
             border-bottom: none;
             border-color: lightsalmon;
        }

         th
         {
             border: 4px ridge;
             border-top: none;
             border-bottom: none;
             border-color: lightsalmon;
        }

         img.title
         {
            
         }

          img.picture
         {
             border: 3px ridge;
             border-color: #F78E69;
         }

        table 
        {
            background-image: url(images/transparency.png);
            background-repeat: no-repeat;
            background-size: cover;
            margin-left: auto;
            margin-right: auto;
            width: 1024px;
            padding-left: 15px;
            padding-right: 15px;
            border: 4px ridge;
            border-color: #5D675B;
            border-radius: 12px;
            color: white;
            text-align: center;
            font-family: Verdana, Helvetica, sans-serif;
        }