       
         a:visited,  a:active
        {           
             background-color: #8DA1B9;    
        }
        
         a:hover, a:link
        {           
            background-color: #7AE7C7;          
        }             
        
        a 
        {
             -webkit-transition-duration: 0.4s; 
            padding-left: 7px;
            padding-right: 7px;
            color: #D8D8F6;
            background-color: #8DA1B9;
             border: solid 2px #7AE7C7;
            border-radius: 4px;
            font-size: large;
            font-family: Verdana, Helvetica, sans-serif;
            text-decoration:none;
        }
       
        @font-face 
        {
            font-family: spaceman;
            src: url(fonts/SPACEMAN.ttf);
        }

        p
        {           
            color: #D8D8F6;
            font-family: Verdana, Helvetica, sans-serif;
        }
       
        body.main 
        {
            background-image: url(images/indexbackground.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        
         body.secondary 
        {
            background-image: url(images/indexbackground2b.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }  

         body.products 
        {
           background-image: url(images/indexbackground2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }  
        
         input.button1
        {  
           -webkit-transition-duration: 0.4s; 
           font-size:larger;
           background-color: #8DA1B9;
           color: #D8D8F6;
           border-radius: 8px;
           border-style:solid;
           border-color:#7AE7C7;          
           padding: 5px 7px;    
           text-align:center;
        }
         
        input.button2
        {
           -webkit-transition-duration: 0.4s; 
           font-size:larger;
           background-color: #8DA1B9;
           color: #D8D8F6;
           border-radius: 8px;
           border-style:solid;
           border-color:#7AE7C7;
           padding: 5px 15px;
           text-align:center;
        }
        
        label
        {
            font-family: Verdana, Helvetica, sans-serif;
        }
        
        input.button1:hover
        {
             background-color: #7AE7C7;
           color: #D8D8F6;
           border-style:solid;
           border-color:#7AE7C7;
        }
        input.button2:hover
        {
           background-color: #7AE7C7;
           color: #D8D8F6;
           border-style:solid;
           border-color:#7AE7C7;          
        }
       input
       {
           margin-left: auto;
           margin-right: auto;
           border-bottom-style: solid;
           border-width: medium;
           font-family: Verdana, Helvetica, sans-serif;       
        }
        input.radial
        {
           margin-left: 5px;
           margin-right: 15px; 
        }
        
        select
       {
           margin-left: 5px;
           margin-right: 5px;
           font-family: Verdana, Helvetica, sans-serif;
           border-bottom-style: solid;
           border-width: medium;
       }

       textarea
       {
           margin-left:auto;
           margin-right:auto;
           width: 90%;
           border-bottom-style: solid;
           border-width: medium;
           font-family: Verdana, Helvetica, sans-serif; 
       }      
      
        form 
        {
            background-image: url(images/transparency.png);
            background-repeat: no-repeat;
            background-size: cover;
            margin-left: auto;
            margin-right: auto;
            margin-top: 25px;
            width: 800px;
            padding-left: 5px;
            padding-right: 5px;
            border: 2px solid;
            border-width:medium;
            border-radius: 12px;
            color: white;
            text-align: center;
            font-family: Verdana, Helvetica, sans-serif;
        }      

        h1 
        {
            margin-top: 30px;
            color: #D8D8F6;
            font-family: spaceman;
        }

        h2 
        {
            margin-top: 15px;
            margin-bottom: 15px;          
            font-family: Verdana, Helvetica, sans-serif;
        }

        h3.second
        {
            margin-top: 10px;
            margin-bottom: 10px;           
            font-size: large;
            font-family: Verdana, Helvetica, sans-serif;
        }

         h3.first 
        {
            margin-top: 10px;
            margin-bottom: 10px;
            color: white;
            font-size: large;
            font-family: Verdana, Helvetica, sans-serif;
        }

        td
        {
             border: 4px solid;
             border-bottom: none;
        }

         th
         {
             border: 4px solid;
             border-top: none;
             border-bottom: none;
        }

         img.title
         {
            margin-top: 20px;
         }

          img.picture
         {
             border: 3px solid;           
         }

        table 
        {
            background-image: url(images/transparency.png);
            background-repeat: no-repeat;
            background-size: cover;
            margin-left: auto;
            margin-right: auto;
            width: 1024px;
            padding-left: 15px;
            padding-right: 15px;
            border: 4px solid;
            border-radius: 12px;
            color: white;
            text-align: center;
            font-family: Verdana, Helvetica, sans-serif;
        }

       label, h3.first
       {
            color: #D8D8F6;
       }

       hr
       {
           border: 1px solid #D8D8F6;
       }
       
       h2 
       {
           color: #7AE7C7;
           border-color: #7AE7C7;
       }  
       
       td, th, table
       {
           border-color: #8DA1B9;
       }  
       
       img.picture
       {
            border-color: #7AE7C7;
       }
       h3.second 
       {
            color: #EF959D;
       }

       input, select, textarea
       {
           border-color: #7AE7C7;
       }
       form
       {
           border-color: #7AE7C7;
       }