        a:visited,  a:active
        {           
             background-color: #8DA1B9;
              color: #D8D8F6;   
        }
        
         a:hover, a:link
        {           
            background-color: #7AE7C7;
             color: #8DA1B9;          
        }             
        
        a 
        {
           
            margin-top: 30px;
            margin-top: 30px;
            padding-left: 7px;
            padding-right: 7px;
            color: #D8D8F6;
            background-color: #8DA1B9;
            border: solid 2px #7AE7C7;
            border-radius: 1px;
            font-size: x-large;
            font-family: Verdana, Helvetica, sans-serif;
           
        }

        li, a
        {
             display:block;
             text-decoration:none;
             width: 80%;
        }

        ul
        {
            list-style-type: none;
            margin: 0;
            padding: 0;          
        }

         body
        {
            position: relative;
           background-image: url(images/indexbackground2b.jpg);
           background-repeat: no-repeat;
           background-size: cover;
        } 
         
         html, body
         {
            min-height: 100%;
         } 

        .backgroundColor1{background-color: #D8D8F6;}
        .backgroundColor2{background-color: #8DA1B9;}

         .color1{color: #D8D8F6; font-size:x-large;}
        .color2{color: #7AE7C7; font-size:x-large;}
        
        .textAlignCenter{text-align:center;}
        .fontSpaceman{font-family:spaceman}

        
        
        .overlay{position:fixed; top: 0; left:0; height:100%; z-index: 1; overflow: auto; padding-top: 60px; transition: 0.5s;}     
       
         @font-face 
        {
            font-family: spaceman;
            src: url(fonts/SPACEMAN.ttf);
        }